@charset "UTF-8";


:root{
    --cor01: #C5EBD6;
    --cor02: #83E1AD;
    --cor03: #3DDC84;
    --cor04: #2FA866;
    --cor05: #063D1E;

    --fonte-padrão: Arial,Verdana,Helvetica,sans-serif; 
    --fonte-destaque: Helvetica;
    --fonte-android: Arial;
}

*{

    margin: 0px;
    padding: 0px;

}

body{

    background-color: var(--cor01);
    font-family: var(--fonte-padrão);
}


header{

    background-image: linear-gradient(to bottom, var(--cor03),var(--cor05));
    background-color: var(--cor04);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

nav{

    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.336);

}

nav > a{

    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.5s;

}

nav > a:hover{

    background-color: var(--cor04);
    text-decoration: underline;
    border-radius: 5px;

}

a.externo::after{

    content: '\1F517';

}

header >  h1{

    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px black;
    
}

header > p{

    color: white;
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px 0px black;

}

main{
    
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 0px 0px 10px 10px;
}

main  h1{

    color: var(--cor05);
    font-family: var(--fonte-android);

}



main h2{

    font-family: var(--fonte-padrão);
    color: var(--cor05);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor02),transparent);
    text-indent: 8px;

}

main  p{

    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;

}

main strong{

    color: var(--cor05);
    font-weight: bold;
    
}

main a{

    color: var(--cor05);
    background-color: var(--cor03);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;

}

main a:hover{

    text-decoration: underline;

}


main img{

    width: 100%;
}

main img.pequena{

    max-width: 350px;
    display: block;
    margin: auto;
}

 div.Vídeo{

     background-color: var(--cor05);
     padding: 10px;
     margin: 0px -20px 30px -20px;
     padding-bottom: 60%;
     position: relative;
}

div.Vídeo > iframe{

    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
} 

aside{

    background-color: var(--cor02);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.288);

}

aside > h3{

    background-color: var(--cor05);
    color: white;
    padding: 5px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{

    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0';
}

footer{

    background-color: var(--cor05);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
}

